<h1>ユーザ一覧</h1>

<% @users.each do |user| %>
  <p>
      UID:<%= user.uid %>&nbsp;
      PASS:<%= user.pass %>&nbsp;
      AGE:<%= user.age %>
      <%= link_to '削除', user_path(user), data: { turbo_method: :delete} %>
  </p>
<% end %>

<%= link_to "新規登録", new_user_path%>
    
    